@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/mixins.less';

.mysqlSqlInput {
    flex: none;
    height: 70px;
    resize: vertical;
    padding: 8px 10px;
    background: @bg;
    border: none;
    border-bottom: 1px solid @border;
    color: @text;
    font-family: @font-mono;
    font-size: 12px;
    outline: none;
}
