@import '@/styles/global.module.less';

.cellEditWrap {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cellInput {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: @text;
    padding: 0 4px;
    font: inherit;
    font-size: 12px;
}
