@import (reference) '../../styles/variables.less';
@import (reference) '../../styles/mixins.less';

.mysqlCellEdit {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    min-width: 0;
}
